<header class="bg-white shadow-lg text-black p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="">
            <div class="text-xl font-bold flex flex-row items-center">

                <img src="assets/logo.webp" class="w-12 h-12" alt="Logo">
                <span class="ml-2 text-sm">TETŐJAVÍTÁS-MOST</span>
            </div>
        </a>
        <button class="block md:hidden" (click)="toggleMenu()">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                </path>
            </svg>
        </button>
        <nav class="hidden md:flex space-x-4">
            <a href="#kezdolap" class="hover:underline">KEZDŐLAP</a>
            <a href="#szolgaltatasok" class="hover:underline">SZOLGÁLTATÁSOK</a>
            <a href="#gyik" class="hover:underline">GYIK</a>
            <a routerLink="kapcsolat" class="hover:underline">KAPCSOLAT</a>
        </nav>
    </div>
    <div class="md:hidden" [ngClass]="{'block': menuOpen, 'hidden': !menuOpen}">
        <nav class="flex flex-col space-y-2 p-4">
            <a href="#kezdolap" class="hover:underline">KEZDŐLAP</a>
            <a href="#szolgaltatasok" class="hover:underline">SZOLGÁLTATÁSOK</a>
            <a href="#gyik" class="hover:underline">GYIK</a>
            <a routerLink="kapcsolat" class="hover:underline">KAPCSOLAT</a>
        </nav>
    </div>
</header>