<!-- services.component.html -->
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-8">Egyéb szolgáltatások</h1>
  
    <div class="mb-10">
      <h2 class="text-2xl font-semibold mb-4">Palatető javítása és felújítása</h2>
      <p>
        A palatetők idővel elöregedhetnek, repedhetnek vagy moha és alga boríthatja őket. Ezek a problémák komoly károkat okozhatnak, ha nem kezelik őket időben. Szakértőink gyorsan és hatékonyan elvégzik a palatetők javítását és felújítását, hogy a tető újra megóvja otthonát az időjárás viszontagságaitól.
      </p>
      <img src="assets/pala.webp" alt="Palatető javítás és felújítás" class="w-full md:w-1/2 mx-auto h-auto mt-4">
    </div>
  
    <div class="mb-10">
      <h2 class="text-2xl font-semibold mb-4">Lapostető szigetelés</h2>
      <p>
        A lapostetők megfelelő szigetelése kulcsfontosságú a hőveszteség minimalizálása és a nedvesség okozta károk elkerülése érdekében. Szakértő csapatunk a legmodernebb szigetelőanyagokkal dolgozik, hogy a lapostetője hosszú távon is ellenálljon az időjárásnak és energiatakarékos legyen.
      </p>
      <img src="assets/lapos4.webp" alt="Lapostető szigetelés" class="w-full md:w-1/2 mx-auto h-auto mt-4">
    </div>
  
    <div class="mb-10">
      <h2 class="text-2xl font-semibold mb-4">Tetőbontás</h2>
      <p>
        Ha egy régi tetőt el kell távolítani, mielőtt egy új tetőt telepítene, mi szakszerűen és biztonságosan végezzük el a tetőbontást. Gondoskodunk arról, hogy a bontási folyamat gyors és zökkenőmentes legyen, minimalizálva a környezeti hatásokat és a bontás utáni takarítást is elvégezzük.
      </p>
      <img src="assets/bontas.webp" alt="Tetőbontás" class="w-full md:w-1/2 mx-auto h-auto mt-4">
    </div>
  
    <div class="mb-10">
      <h2 class="text-2xl font-semibold mb-4">Ereszcsatorna tisztítás</h2>
      <p>
        Az ereszcsatornák rendszeres tisztítása elengedhetetlen a megfelelő vízelvezetés biztosítása érdekében. Szakembereink alaposan kitisztítják az ereszcsatornákat, eltávolítva a leveleket, törmeléket és egyéb akadályokat, hogy az esővíz szabadon folyjon és ne okozzon károkat az épületben.
      </p>
      <img src="assets/tisztitas.webp" alt="Ereszcsatorna tisztítás" class="w-full md:w-1/2 mx-auto h-auto mt-4">
    </div>
  
    <div class="mb-10">
      <h2 class="text-2xl font-semibold mb-4">Kéménybontás</h2>
      <p>
        A használaton kívüli vagy veszélyes kémények bontását szakszerűen és biztonságosan végezzük el. Szakértő csapatunk gondoskodik arról, hogy a kéménybontás során ne sérüljön az épület szerkezete, és a munkaterület tiszta és rendezett maradjon.
      </p>
      <img src="assets/kemeny.webp" alt="Kéménybontás" class="w-full md:w-1/2 mx-auto h-auto mt-4">
    </div>
  </div>
  