<!-- article.component.html -->
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-4">Zsindelytető javítása és felújítása</h1>
  
    <div class="mb-6">
      <p>
        A zsindelytetők népszerű választásnak számítanak a háztulajdonosok körében, mivel tartósak, esztétikusak és könnyen karbantarthatók. Azonban idővel a tetők is igényelhetnek javítást és felújítást. Ha az időjárás viszontagságai vagy az elöregedés miatt a tető megsérül, fontos, hogy gyorsan és szakszerűen végezzük el a javításokat, hogy elkerüljük a további károkat és költségeket.
      </p>
      <img src="assets/zsindely1.webp" alt="Zsindelytető javítás" class="w-full md:w-1/2 mx-auto h-auto mt-4">
    </div>
  
    <div class="mb-6">
      <p>
        Az első lépés a sérült zsindelyek azonosítása és eltávolítása. Ezt követően új zsindelyeket helyezünk a régi helyére, gondoskodva arról, hogy az új elemek megfelelően illeszkedjenek a meglévő tetőhöz. Fontos, hogy a javítás során megfelelő rögzítési technikákat alkalmazzunk, hogy az új zsindelyek ellenálljanak az időjárás viszontagságainak.
      </p>
      <img src="assets/zsindely2.webp" alt="Zsindelycsere" class="w-full md:w-1/2 mx-auto h-auto mt-4">
    </div>
  
    <div>
      <p>
        A teljes tetőfelújítás esetén a régi zsindelyeket eltávolítjuk, és új zsindelyeket helyezünk fel. Ez a folyamat lehetőséget ad arra is, hogy alaposan átvizsgáljuk a tető szerkezetét, és szükség esetén javításokat végezzünk a tetődeszkázaton és a szigetelésen is. Az új zsindelyek telepítésekor kiemelt figyelmet fordítunk a vízzáróságra és a hosszú élettartam biztosítására.
      </p>
      <img src="assets/zsindely3.webp" alt="Teljes tetőfelújítás" class="w-full md:w-1/2 mx-auto h-auto mt-4">
    </div>
  </div>
  